*{
    margin: 0;
    padding: 0;
}
:root{
    font-size: 10px;
}
.div-wrapper {
    position: relative;
    height: 300px;
    width: 300px;
}

.div-wrapper img {
    position: absolute;
    left: 0;
    bottom: 0;
}
